# Anonymize the starting csv
Moodle provided data from a course, the original data that Moodle provided was not completely anonymized. Therefore this notebook has been created for anonymization. This can not be reproduced, since the original logstore file has been deleted after creating an anonymous one, for privacy protection.

In [5]:
import pandas as pd

cd = pd.read_csv("./data/completion_data.csv")
ud = pd.read_csv("./data/user_data.csv")

In the original dataset, "other" contains meta data, e.g. forum posts, where ppl introduce themselves with full name, job and city. So we replace "other" with default empty object "{}" or keep "N;".

In [ ]:
cd

,UserId,UserEmail,CourseModuleState,CourseModuleState.1,CourseCompletionStart,CourseCompletionFinish,ModuleName,CourseModuleId,Courseid,ModuleGrade,ModuleMaxgrade
0,10,nagy+tanulo@skoll.hu,1,1715094609,0,\N,resource,19,5,\N,\N
1,10,nagy+tanulo@skoll.hu,1,1715094611,0,\N,resource,18,5,\N,\N
2,5,orban@skoll.hu,1,1715097281,0,\N,resource,19,5,\N,\N
3,5,orban@skoll.hu,1,1715098526,0,\N,resource,18,5,\N,\N
4,8,mongyi+tanulo@skoll.hu,1,1715154379,0,\N,resource,19,5,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...
12308,2010,csklau1988@gmail.com,1,1733391020,1733390834,1733390834,feedback,481,48,\N,\N
12309,1574,juhaszne.schrauf@gmail.com,1,1733392844,1733392273,1733392273,feedback,472,47,\N,\N
12310,1567,edit7524@gmail.com,2,1733394629,1733394629,1733394629,quiz,471,47,10.00000,10.00000
12311,1567,edit7524@gmail.com,1,1733395037,1733394629,1733394629,feedback,472,47,\N,\N
12312,2042,czuni.judit@gmail.com,0,0,0,\N,scorm,497,50,\N,100.00000

In [6]:
ud

,email,birthdate,education,postalcode,location
0,rado.mark@outlook.hu,NaN,NaN,NaN,NaN
1,hajosalexandra27@gmail.com,2000.04.27.,Felsőfokú végzettségi szint és felsőfokú szakk...,8416.0,Dudar
2,Vivigonter@gmail.com,1993.12.09.,Középfokú végzettség és gimnáziumi érettségi (...,8800.0,Nagykanizsa
3,toth.klaudia9801@gmail.com,1998.05.19.,Középfokú végzettség és középfokú szakképesíté...,2315.0,Szigethalom
4,m.kinga0718@gmail.com,2002.07.18.,Felsőfokú végzettségi szint és felsőfokú szakk...,4220.0,Hajdúböszörmény
...,...,...,...,...,...
5854,szakrisztina@gmail.com,1974.07.20.,Középfokú végzettség és középfokú szakképesíté...,1194.0,BUDAPEST
5855,eszti012@gmail.com,1993.12.22.,Középfokú végzettség és gimnáziumi érettségi (...,7400.0,Kaposvár
5856,eszti012@gmail.com,1993.12.22.,Középfokú végzettség és gimnáziumi érettségi (...,7400.0,Kaposvár
5857,eszti012@gmail.com,1993.12.22.,Középfokú végzettség és gimnáziumi érettségi (...,7400.0,Kaposvár
5858,eszti012@gmail.com,1993.12.22.,Középfokú végzettség és gimnáziumi érettségi (...,7400.0,Kaposvár

In [12]:
ud_cleaned = ud_cleaned.dropna(subset=['education', 'birthdate', 'postalcode', 'location'])
ud_cleaned = ud_cleaned.drop_duplicates(subset=['email'], keep='first')
ud_cleaned

,email,birthdate,education,postalcode,location
1,hajosalexandra27@gmail.com,2000.04.27.,Felsőfokú végzettségi szint és felsőfokú szakk...,8416.0,Dudar
2,Vivigonter@gmail.com,1993.12.09.,Középfokú végzettség és gimnáziumi érettségi (...,8800.0,Nagykanizsa
3,toth.klaudia9801@gmail.com,1998.05.19.,Középfokú végzettség és középfokú szakképesíté...,2315.0,Szigethalom
4,m.kinga0718@gmail.com,2002.07.18.,Felsőfokú végzettségi szint és felsőfokú szakk...,4220.0,Hajdúböszörmény
5,zolnaireni@gmail.com,1990.07.25.,Középfokú végzettség és gimnáziumi érettségi (...,5051.0,Zagyvarékas
...,...,...,...,...,...
5826,kramergloriakamilla@gmail.com,2003.12.18.,Középfokú végzettség és gimnáziumi érettségi (...,2083.0,Solymár
5827,rekazabos01@gmail.com,1998.09.05.,Felsőfokú végzettségi szint és felsőfokú szakk...,6000.0,Kecskemét
5830,kosiramona@gmail.com,1976.04.07.,Középfokú végzettség és középfokú szakképesíté...,9491.0,Hidegség
5843,koharia@pt.bme.hu,1993.01.24.,Felsőoktatási szakképzés (felsőoktatási intézm...,2235.0,Mende
5854,szakrisztina@gmail.com,1974.07.20.,Középfokú végzettség és középfokú szakképesíté...,1194.0,BUDAPEST

In [16]:
merged_df = pd.merge(ud_cleaned, cd, left_on='email', right_on='UserEmail')

# Az eredmény ellenőrzése
merged_df = merged_df.drop(columns=['email', 'UserEmail'])
merged_df


# Ha szükséges, az eredményt elmentheted fájlba
merged_df.to_csv('./data/data.csv', index=False)